In [1]:
import pandas as pd
import numpy as np

In [19]:
food_df = pd.read_csv("FoodBalanceSheets_E_Africa_NOFLAG.csv")

In [20]:
food_df.head()

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28

In [21]:
food_df

,Area Code,Area,Item Code,Item,Element Code,Element,Unit,Y2014,Y2015,Y2016,Y2017,Y2018
0,4,Algeria,2501,Population,511,Total Population - Both sexes,1000 persons,38924.00,39728.00,40551.00,41389.00,42228.00
1,4,Algeria,2501,Population,5301,Domestic supply quantity,1000 tonnes,0.00,0.00,0.00,0.00,0.00
2,4,Algeria,2901,Grand Total,664,Food supply (kcal/capita/day),kcal/capita/day,3377.00,3379.00,3372.00,3341.00,3322.00
3,4,Algeria,2901,Grand Total,674,Protein supply quantity (g/capita/day),g/capita/day,94.90,94.35,94.72,92.82,91.83
4,4,Algeria,2901,Grand Total,684,Fat supply quantity (g/capita/day),g/capita/day,80.06,79.36,77.40,80.19,77.28
...,...,...,...,...,...,...,...,...,...,...,...,...
60938,181,Zimbabwe,2899,Miscellaneous,5142,Food,1000 tonnes,42.00,46.00,33.00,19.00,16.00
60939,181,Zimbabwe,2899,Miscellaneous,645,Food supply quantity (kg/capita/yr),kg,3.06,3.33,2.35,1.33,1.08
60940,181,Zimbabwe,2899,Miscellaneous,664,Food supply (kcal/capita/day),kcal/capita/day,3.00,4.00,3.00,1.00,1.00
60941,181,Zimbabwe,2899,Miscellaneous,674,Protein supply quantity (g/capita/day),g/capita/day,0.10,0.11,0.08,0.04,0.04
60942,181,Zimbabwe,2899,Miscellaneous,684,Fat supply quantity (g/capita/day),g/capita/day,0.04,0.05,0.03,0.02,0.01

### Question 11:
#### What is the total sum of Aminal Fat produced in 2014 and 2017 respectively

In [42]:
df.groupby(['Item'],as_index=False)[['Y2014','Y2017']].sum()
#ans = 209460.54 and 269617.53

                    Item      Y2014      Y2017
0      Alcohol, Non-Food    2403.00    2348.00
1    Alcoholic Beverages  102410.11   95581.06
2        Animal Products   11935.65   11547.65
3            Animal fats  209460.54  269617.53
4    Apples and products    9499.23   10198.90
..                   ...        ...        ...
114    Vegetables, Other  155038.96  157752.59
115     Vegetal Products  107145.19  107655.20
116   Wheat and products  232670.13  240047.62
117                 Wine    4497.36    4178.02
118                 Yams  200396.96  229174.59

[119 rows x 3 columns]

In [28]:
#attempt to select only Animal fats
total_sum_AF = df.groupby(['Animal fats'] in ['Item'])[['Y2014','Y2017']].sum()

KeyError: False

In [32]:
#Question 12
food_df.mean()
#ans = 135.236 and 1603.404

Area Code        134.265576
Item Code       2687.176706
Element Code    3814.856456
Y2014            134.196282
Y2015            135.235966
Y2016            136.555222
Y2017            140.917765
Y2018            143.758381
dtype: float64

In [43]:
food_df.std()

Area Code         72.605709
Item Code        146.055739
Element Code    2212.007033
Y2014           1567.663696
Y2015           1603.403984
Y2016           1640.007194
Y2017           1671.862359
Y2018           1710.782658
dtype: float64

In [49]:
display(food_df.mean(), food_df.std())

Area Code        134.265576
Item Code       2687.176706
Element Code    3814.856456
Y2014            134.196282
Y2015            135.235966
Y2016            136.555222
Y2017            140.917765
Y2018            143.758381
dtype: float64

Area Code         72.605709
Item Code        146.055739
Element Code    2212.007033
Y2014           1567.663696
Y2015           1603.403984
Y2016           1640.007194
Y2017           1671.862359
Y2018           1710.782658
dtype: float64

In [51]:
#Question 13
food_df.isnull().sum()
# ans = 1535 and 2.52

Area Code          0
Area               0
Item Code          0
Item               0
Element Code       0
Element            0
Unit               0
Y2014           1589
Y2015           1548
Y2016           1535
Y2017           1506
Y2018           1436
dtype: int64

In [52]:
# Question 13 - Calculate percentage of missing data
1535/60943 * 100

2.5187470259094566

In [54]:
food_df.corr().sum()

Area Code       1.022186
Item Code       1.075654
Element Code    1.095431
Y2014           5.033173
Y2015           5.016861
Y2016           5.026162
Y2017           5.024920
Y2018           5.025198
dtype: float64

In [60]:
#Attempt to get the correlation another way with specifics to element code
df.groupby(['Element Code'])[['Y2014','Y2015','Y2016','Y2017']].corr().sum()

Y2014    67.957719
Y2015    67.454574
Y2016    68.288095
Y2017    67.635081
dtype: float64

In [67]:
# Question 15: What year has the highest sum of import quality?
df.groupby(['Element'],as_index=False)[['Y2014','Y2015','Y2016','Y2017']].sum()
#ans = 2017

,Element,Y2014,Y2015,Y2016,Y2017
0,Domestic supply quantity,1996716.35,2021493.55,2044842.70,2088198.10
1,Export Quantity,150020.64,157614.47,151920.46,182338.80
2,Fat supply quantity (g/capita/day),10225.56,10235.74,10102.77,10253.84
3,Feed,216927.89,225050.22,228958.65,223705.68
4,Food,1212332.49,1232361.10,1247022.17,1258888.28
5,Food supply (kcal/capita/day),454257.00,453383.00,451810.00,454681.00
6,Food supply quantity (kg/capita/yr),49650.63,49345.13,48985.28,48690.04
7,Import Quantity,274144.48,267018.46,286582.78,294559.09
8,Losses,153223.00,155439.00,157787.00,160614.00
9,Other uses (non-food),78718.13,66254.41,69563.68,91645.97
10,Processing,282923.00,287929.00,280631.00,292836.00
11,Production,1931287.75,1947019.39,1943537.15,2030056.89
12,Protein supply quantity (g/capita/day),11836.46,11833.95,11779.69,11842.45
13,Residuals,30149.00,30045.00,37224.00,35500.00
14,Seed,21922.92,23976.82,23389.20,24870.14
15,Stock Variation,58749.83,34910.99,33140.12,54316.91
16,Total Population - Both sexes,1031585.00,1058081.00,1085107.00,1112641.00
17,Tourist consumption,416.00,349.00,89.00,91.00

In [63]:
# I wish i could write a code that will only examine import quantity and not all the values, to save resources

In [65]:
# question 16: What is the total number of the sum of production in 2014?
df.groupby(['Element'])['Y2014'].sum()
#ans = 1931287.75

Element
Domestic supply quantity                  1996716.35
Export Quantity                            150020.64
Fat supply quantity (g/capita/day)          10225.56
Feed                                       216927.89
Food                                      1212332.49
Food supply (kcal/capita/day)              454257.00
Food supply quantity (kg/capita/yr)         49650.63
Import Quantity                            274144.48
Losses                                     153223.00
Other uses (non-food)                       78718.13
Processing                                 282923.00
Production                                1931287.75
Protein supply quantity (g/capita/day)      11836.46
Residuals                                   30149.00
Seed                                        21922.92
Stock Variation                             58749.83
Total Population - Both sexes             1031585.00
Tourist consumption                           416.00
Name: Y2014, dtype: float64

In [70]:
# question 17: Which of these elements had the highest sum in 2018? 

df.groupby(['Element'],as_index=False)['Y2018'].sum()

#ans = Food supply (kcal/capita/day)

                                   Element       Y2018
0                 Domestic supply quantity  2161192.10
1                          Export Quantity   181594.80
2       Fat supply quantity (g/capita/day)    10258.69
3                                     Feed   233489.68
4                                     Food  1303841.28
5            Food supply (kcal/capita/day)   455261.00
6      Food supply quantity (kg/capita/yr)    49056.85
7                          Import Quantity   287997.09
8                                   Losses   163902.00
9                    Other uses (non-food)    91300.97
10                              Processing   308429.00
11                              Production  2075072.89
12  Protein supply quantity (g/capita/day)    11833.56
13                               Residuals    34864.00
14                                    Seed    25263.14
15                         Stock Variation    20577.91
16           Total Population - Both sexes  1140605.00
17                     Tourist consumption       90.00

In [92]:
# Question 18: Which of these elements had the 3rd lowest sum in 2018

Q_18 = df.groupby(['Element'],as_index=False)['Y2018'].sum()

In [93]:
# Trying to sort the values
sorted(Q_18.items(), key = lambda x:x[1])

TypeError: '<' not supported between instances of 'float' and 'str'